.shelf {
    width: 76vw;
    margin-bottom: 5rem;

    &--title {
        color: #fff;
        font-family: 'Open Sans', sans-serif;
    }

    &--content {
        margin-top: 1rem;

        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}