.card {
    width: 210px;
    position: relative;
    border-radius: 10px;
    box-shadow: 10px 7px 18px -4px rgba(0, 0, 0, 0.562);

    &:hover  {
        .card--overlay {
            background: rgba(0, 0, 0, 0.8);
        }
    }
        
    &--image {
        width: 100%;
        height: 220px;
        box-sizing: border-box;
        background-size: cover;
        border-radius: 10px 10px 0 0;
        background-repeat: no-repeat;
        transition: all 200ms ease-in-out;
    }

    &--overlay {
        top: 0;
        width: 100%;
        height: 220px;
        cursor: pointer;
        position: absolute;
        border-radius: 10px 10px 0 0;
        transition: all 180ms ease-out;
    }

    &--content {
        width: 100%;
        height: 69px;
        display: flex;
        color: #ffffff;
        padding-top: 2px;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-color: #242227;
        border-radius: 0 0 10px 10px;

        .campaign {
            font-weight: 700;
            text-transform: capitalize;
        }

        .system {
            text-transform: capitalize;
        }

        .tags {
            margin: 1px 0 5px;
            .tag {
                padding: 2px 7px;
                cursor: pointer;
                font-size: 12px;
                color: #ffffff;
                border-radius: 12px;
                letter-spacing: 1px;
                font-family: sans-serif;
                background-color: rgb(53, 158, 255);
            }
        }
    }

    &:not(:last-child) {
        margin-right: 2.5rem;
    }
}