.card {
    width: 190px;
    
    &--image {
        width: 100%;
        height: 182px;
        cursor: pointer;
        background-size: cover;
        background-repeat: no-repeat;
        // background-image: url('https://cdna.artstation.com/p/assets/images/images/033/738/268/large/stefan-morrell-stefan-morrell-flight-to-the-blue-t-1-7bf806bd-2bvn.jpg?1610449646');
    }

    &--content {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 55px;
        background-color: #ffffff;

        .narrator {
            font-weight: 700;
            letter-spacing: -1px;
            text-transform: uppercase;
        }

        .system {
            text-transform: capitalize;
        }
    }

    &:not(:last-child) {
        margin-right: 3.5rem;
    }
}