.header {
    width: 100vw;
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    padding: 0.4rem 1rem;
    background-color: #17151a;
    justify-content: space-between;

    &--left-box {
        padding-left: 1rem;
        a {
            color: #fff;
            font-size: 1.2rem;
            font-weight: 700;
            text-decoration: none;
        }
    }

    &--right-box {
        width: 265px;
        display: flex;
        align-items: center;
        padding: 0 1.2rem 0 1rem;
        justify-content: space-between;

        .new-table {
            width: 150px;
            border: none;
            color: #fff;
            padding: 10px 0;
            cursor: pointer;
            font-weight: 600;
            border-radius: 4px;
            background-color: #a584ff;
            transition: all 200ms ease-in-out;
            font-family: 'Open Sans', sans-serif;

            &:hover {
                background-color:  #956eff;
            }

            &:focus {
                outline: none;
            }
        }

        .profile-picture {
            border: 2px solid rgb(0, 214, 179);
            width: 45px;
            height: 45px;
            display: block;
            cursor: pointer;
            border-radius: 50%;
            background-color: #fff;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url('https://cdnb.artstation.com/p/assets/images/images/030/670/927/large/roger-magrini-test-posed-final.jpg?1601322842');
        }
    }
}
