.search-wrapper {
    display: flex;
    margin: 4rem 0 3rem;
    justify-content: center;

    .search {
        width: 76vw;
        height: 70px;
        color: #999;
        line-height: 70px;
        padding-left: 1.2rem;
        border-radius: 10px;
        background-color: #fff;
    }
}